name: Build Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build patient-service image
      - name: Build patient-service image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/patient-service:latest ./patient-service

      # Build appointment-service image
      - name: Build appointment-service image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/appointment-service:latest ./application-service

      # Build order-service image
      - name: Build order-service image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/order-service:latest ./order-service

      # Push all images
      - name: Push images
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/patient-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/appointment-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/order-service:latest
